<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myself</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");
    </style>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
    {% block header %} {% endblock header %}
  </head>
  <body>
    <div class="nav">
      <h2 id="logo">Shrinivasaprasada</h2>
      <ul>
        <li>
          <a href="#">
            <h4>Home</h4>
          </a>
        </li>
        <li>
          <a href="#">
            <h4>About</h4>
          </a>
        </li>
        <li>
          <a href="#">
            <h4>PortFolio</h4>
          </a>
        </li>
        <li>
          <a href="#">
            <h4>Blog</h4>
          </a>
        </li>
        <li>
          <a href="#">
            <h4>Contact</h4>
          </a>
        </li>
      </ul>
      <div class="searchui">
        <input
          placeholder="Search Contents | Blog's"
          id="search-box"
          type="text"
          name="search"
        />
        <button id="search-bt">search</button>
      </div>
    </div>
    {% block content %}
    
      
    
    {% endblock content %}
  </body>
</html>
