{% extends 'home/base.html' %}
{% load static %}
{% block header %} {% endblock header %}

{% block content %}
    
   <div class="part">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Dolore incidunt praesentium exercitationem harum 
        ullam aut laboriosam eaque mollitia doloribus obcaecati.
        Quis ab ut dignissimos, dolorem temporibus aperiam consectetur harum eveniet?
     </h1>
     <div>
         <img src="https://i.pinimg.com/originals/a0/d8/10/a0d810474c309edd22329b760280a303.jpg" alt="bg">
     </div>
   </div>
    
{% endblock content %}
